<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Jasmine Spec Runner</title>

    <% css.forEach(function(style){ %>
    <link rel="stylesheet" type="text/css" href="<%= style %>">
    <% }) %>
	<link rel="stylesheet" type="text/css" href="src/css/search.css">

    <% scripts.forEach(function(script){ %>
    <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>
</head>

<body>
    <div id="sandbox"></div>
</body>
</html>
