<form method="get" action="/hsearch" id="search" class="tsbar-search-widget">
	<input id="tsbar-query-text" name="q" type="text" placeholder="Search..." />
	<button id="tsbar-clear-button" class="clear" title="clear search box">&times;</button>
</form>