#search {
	display: inline-block;
	position: relative;
}

#search input {
/*	background: url(/bags/tsbarapp_public/tiddlers/magnifying_glass.svg) no-repeat;*/
	background-size: 32px 32px;
	font-size: 18px;
	line-height: 1.5em;
	width: 100px;
	padding-left: 32px;
	-webkit-transition: all 0.7s ease 0s;
	   -moz-transition: all 0.7s ease 0s;
	     -o-transition: all 0.7s ease 0s;
	        transition: all 0.7s ease 0s;
}

#search input:focus,
#search.inuse input {
	width: 200px;
}

button {
	outline: 0;
	border: none;
	background: transparent;
}

button.clear {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	font-weight: 600;
	height: 22px; width: 22px;
	border-radius: 11px;
	text-align: center;
	display: none;
}

.inuse .clear {
	background: #ccc;
	color: #999;
	display: inline;
}