#tsbar {
    font-family: "Helvetica Neue", "Lucida Grande", "Helvetica", "Verdana", "Arial", "sans-serif";
}

h2.tsbar {
    margin: 0;
}

.tsbar-popup, .tsbar-user-icon-container p {
    display: none;
}

.tsbar-user-icon:hover + p {
    display: block;
}

.open .tsbar-popup {
    display: block;
    z-index: 1;
    opacity: 1.0;
    border: 1px solid grey;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.2em;
}

#tsbar {
    position: relative;
    height: 75px;
    width: 100%;
    border: solid black;
}

.tsbar-left {
    position: absolute;
    left: 0px;
    top: 0px;
}

.tsbar-middle {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 0px;
}

.tsbar-right {
    position: absolute;
    right: 0px;
    top: 0px;
}

.tsbar-user-icon, .tsbar-notification-icon, .search img {
    width: 48px;
    height: 48px;
}

.tsbar-error {
    color: red;
}

.tsbar-search-widget, .tsbar-user-widget {
    background: #f5f5f5;
}

.tsbar-user-widget, hr.tsbar {
    clear: both;
}

.tsbar-user-btn, .tsbar-user-info, .tsbar-logout-btn {
    float: right;
}

.tsbar-logout-btn {
    margin-bottom: 0.9em;
}

.tsbar-user-icon-container {
    display: inline-block;
}

.tsbar-user-info {
    display: inline;
}